.button, .button-border {
    display: block;
    width: max-content;
    padding: 22px 41px;
    border-radius: var(--radius-button);
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

.button {
    color: #fff;
    background: var(--gradient-button);

    &:hover {
        background: linear-gradient(0deg, #836C4A 0%, #B79A72 100%);
    }
}

.button-border {
    border-image: var(--gradient-button);
    border-width: 2px;
    border-style: solid;
    border-image-slice: 1;

    &__white {
        padding: 14px 26px;
        border-image: none;
        border: 1px solid rgba(255, 255, 255, 0.5);

        @include mobile {
            font-size: 14px;
        }
    }

    &:hover {
        color: #fff;
        background: linear-gradient(180deg, #836C4A 0%, #B79A72 100%);;
    }
}

.cart {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--color-border) url('../img/icons/shopping-cart.svg') no-repeat center;
    background-size: 20px 20px;
}