.cart {
    padding: 22px 0px 120px;

    @include mobile {
        padding: 22px 0px 80px;
    }

    &-list {
        display: grid;
        grid-template-columns: 1fr;
    }

    &-item {
        padding: 40px 60px;
        border: 1px solid var(--color-border);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        grid-gap: 18px 50px;

        @include tablet {
            grid-template-columns: 1fr;
        }

        @include mobile {
            padding: 30px 15px;
            grid-gap: 14px;
            position: relative;

            .delete {
                position: absolute;
                top: 30px;
                right: 12px;
            }
        }

        &-title {
            font-size: 24px;
            font-weight: 700;
            line-height: 1.4;
            max-width: calc(100% - 40px);

            @include mobile {
                font-size: 18px;
            }
        }

        &-desc {
            font-size: 14px;
            line-height: 1.85;
            grid-column-start: 1;
            grid-row-start: 2;
        }

        &-info {
            grid-row-start: 2;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;

            @include tablet {
                grid-row-start: 3;
            }

            @include mobile {
                flex-wrap: wrap;
                gap: 24px;
            }

            .input-item__quantity {
                flex: 0 0 180px;

                @include mobile {
                    flex: 0 0 100%;
                }
            }
        }

        &-guests,
        &-time {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 8px;

            &::before {
                content: '';
                width: 16px;
                height: 16px;
                display: inline-block;
                background-size: contain;
                background-position: 50% 50%;
                background-repeat: no-repeat;
            }
        }

        &-guests::before {
            background-image: url('../img/icons/user.svg');
        }

        &-time::before {
            background-image: url('../img/icons/time.svg');
        }
    }
}