.form-banner {
    padding: 50px 0px 120px;

    @include mobile {
        padding: 35px 0px 120px;
    }

    &-wrapper {
        color: #fff;
        background: var(--color-text) url('../img/form-bg.png') no-repeat right center;
        background-size: 50% 100%;
        position: relative;
        padding: 75px 220px;

        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            border: 1px solid var(--color-border);
            position: absolute;
            top: 10px;
            left: 10px;
        }

        @include tablet {
            padding: 75px;
        }

        @include mobile {
            padding: 40px 20px 200px;
            background: var(--color-text) url('../img/form-bg.png') no-repeat left bottom;
            background-size: 100% 200px;
        }
        
        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            right: 0;
            background: linear-gradient(91deg, #26272B 0%, rgba(38, 39, 43, 0.00) 100%);

            @include mobile {
                left: 0;
                top: calc(100% - 200px);
                background: linear-gradient(180deg, #26272B 0%, rgba(38, 39, 43, 0.00) 100%);
            }
        }

        h2, p, form {
            position: relative;
            z-index: 2;
        }

        h2 {
            text-align: left;

            &.has-star {
                &::before, &::after {
                    background: #fff;
                }
            }

            @include mobile {
                max-width: 90%;
            }
        }

        p.form-banner-desc {
            margin: 18px 0px 52px;

            span.gold {
                color: var(--color-gold);
            }

            @include mobile {
                font-size: 8px 26px;
            }
        }
    }
}

.form {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 100px;

    &-text {
        font-size: 14px;
    }

    @include tablet {
        gap: 40px;
    }

    @include mobile {
        flex-direction: column;

    }

    &-row {
        display: flex;
        align-items: end;
        justify-content: stretch;
        gap: 30px;
        flex-wrap: wrap;
        flex: 0 0 100%;
        width: 100%;

        @include mobile {
            gap: 20px;
        }
    }

    &-col {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 20px;
    }

    .form-col > .input-item {
        width: 100%;
        flex: 0 0 100%;
    }

    .form-row > .input-item {
        flex-grow: 1;
    }

    @include mobile {
        gap: 20px;
        .button {
            flex: 0 0 100%;
            width: 100%;
        }
    }
}

.form-prepayment {
    padding: 60px 0px;

    &-wrapper {
        padding: 62px 114px 80px;
        border: 1px solid var(--color-border);
        position: relative;

        @include tablet {
            padding: 60px 40px;
        }

        @include mobile {
            padding: 40px 34px;
        }

        @include starTop();

        h2 {
            text-align: left;
            margin: 0px 0px 40px;

            @include mobile {
                text-align: center;
                margin: 0px 0px 18px;
            }
        }

        .form {
            &-col {
                &:last-child {
                    flex: 0 0 60%;

                    p.form-text {
                        text-align: right;
                        margin-left: auto;

                        @include mobile {
                            text-align: left;
                            margin: 0;
                            font-size: 12px;
                        }
                    }
                }
            }

            .button {
                margin-left: auto;
            }
        }
    }
}

.form-cards {
    padding: 0px 0px 180px;

    &-thanks {
        margin: 50px 0px 0px;
        @include fontTitle(400, 'normal');
        text-align: center;
        font-size: 72px;
        text-transform: uppercase;
        color: var(--color-border);

        @include mobile {
            font-size: 48px;
        }
    }

    &-wrapper {
        color: #fff;
        background: var(--color-text);
        padding: 30px 15px;

        @include mobile {
            padding: 20px 15px 40px;
        }
    }

    .form,
    &-titles {
        max-width: min(630px, 100%);
        margin: 0px auto;
    }

    &-titles {
        display: grid;
        grid-template-columns: 1fr 160px;
        grid-template-rows: auto auto;
        align-items: center;
        grid-gap: 32px 50px;

        @include mobile {
            grid-template-columns: 1fr 100px;
            grid-gap: 0;
            margin: 0px 0px 40px;
        }


        h2 {
            margin-top: auto;
            font-size: 48px;
            text-align: left;

            @include mobile {
                font-size: 30px;
                margin: 0;
            }
        }

        p {
            margin-bottom: auto;

            @include mobile {
                grid-column-start: span 2;
            }
        }

        .form-cards-logo {
            grid-row-start: span 2;
            object-fit: contain;

            @include mobile {
                grid-row-start: 1;
                grid-column-start: 2;
                width: 100px;
                object-fit: contain;
                object-position: center;
            }
        }
    }

    .form {
        width: 100%;
        &-col {
            width: 100%;
        }

        .button {
            margin: 0px auto;
        }
    }
}