.input-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 15px;
    position: relative;

    @include mobile {
        flex: 0 0 100%;
    }

    &-title {
        font-size: 14px;
        font-weight: 500;
    }

    &.input-item__error {
        .input {
            border: 1px solid #D14141;
        }

        &::after {
            content: 'Пожалуйста, заполните это поле';
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 14px;
            color: #D14141;
            transform: translate(0, calc(100%));
        }
    }

    &.input-item__buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 30px;

        @include mobile {
            flex-direction: column;
            gap: 10px;
        }

        .input {
            cursor: pointer;
            color: var(--color-border);
            flex: 0 0 calc((100% - 60px) / 3);

            @include mobile {
                flex: 0 0 100%;
            }
        }

        input[type=radio]:checked + label.input {
            color: #fff;
            background: var(--gradient-button);
        }
    }

    &.input-item__list {

        label {
            text-transform: uppercase;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 20px;

            @include mobile {
                font-size: 12px;
            }

            &::before {
                content: '';
                flex: 0 0 30px;
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid var(--color-gold);
            }
        }

        input[type=radio]:checked + label {
            &::before {
                background: var(--color-gold) url('../img/icons/check.svg') no-repeat center;
                background-size: 50%;
            }
        }
    }

    .input {
        font-size: 16px;
        line-height: 1;
        @include font(400);
        padding: 21px 24px;
        color: var(--color-text);
        border-image: var(--gradient-button);
        border-width: 1px;
        border-style: solid;
        border-image-slice: 1;
        width: 100%;

        @include mobile {
            width: 100%;
        }

        &:focus {
            outline: none;
        }

        &::placeholder {
            opacity: 0.5;
        }

        &-info {
            padding: 0px 24px;
            display: flex;
            align-items: center;
            justify-content: start;
            height: 50px;
        }

        &-symb {
            pointer-events: none;
            color: var(--color-border);
            opacity: 0.7;
            position: absolute;
            bottom: calc(64px / 2);
            right: 20px;
            transform: translate(0, 50%);
        }
    }

    input[type=date] {
        min-width: 100%;
        min-height: 64px;
        -webkit-appearance: none; 
    }

    textarea.input {
        resize: vertical;
        min-height: 100px;
        max-height: 500px;
    }

    &__dark {
        .input-item-title {
            color: var(--color-border);
        }

        .input {
            color: #fff;
            background: rgba($color: #fff, $alpha: 0.1);
        }
    }

    &__quantity {
        position: relative;

        .input {
            padding: 14px;
            pointer-events: none;
            text-align: center;
        }
        
        &.input-item__dark {
            button {
                &::before,
                &::after {
                    background: #fff;
                }
            }
        }
        
        button {
            position: absolute;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 1px solid var(--color-border);
            background: transparent;
            bottom: calc(50px / 2);
            transform: translate(0, 50%);

            &.disabled {
                pointer-events: none;
                opacity: 0.5;
            }

            &::after,
            &::before {
                content: '';
                width: 11px;
                height: 1px;
                border-radius: 2px;
                background: var(--color-text);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(calc(-50% + 0.5px), -50%);

                @include mobile {
                    transform: translate(-50%, -50%);
                }
            }

            &[data-action=minus] {
                left: 10px;
                &::after {
                    display: none;
                }
            }

            &[data-action=plus] {
                right: 10px;

                &::after {
                    transform: translate(calc(-50% + 0.5px), -50%) rotate(-90deg);
                    
                    @include mobile {
                        transform: translate(-50%, -50%) rotate(-90deg);
                    }
                }
            }

        }
    }

    input[type=checkbox] {
        display: none;
    }

    input[type=checkbox] ~ label {
        cursor: pointer;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 12px;

        &::before {
            flex: 0 0 22px;
            content: '';
            display: inline-block;
            border-image: var(--gradient-button);
            border-width: 1px;
            border-style: solid;
            border-image-slice: 1;
            width: 22px;
            height: 22px;
        }
    }

    input[type=checkbox]:checked ~ label {
        &::before {
            background: url('../img/icons/checkbox.svg') no-repeat center, var(--gradient-button);
            background-size: 70%, cover;
        }
    }
}

input[type=radio] {
    display: none;
}