main {

    &:not(.homepage, .area, .cert) {
        padding-top: calc(172px + 44px);
        @include mobile {
            padding-top: calc(52px + 62px);
        }

        h1 {
            margin: 30px 0px 0px;
        }
    }

    &.area {
        .photos {
            padding: 40px 0px;
        }

        .places {
            padding-bottom: 140px;
            h2 {
                margin-bottom: 40px;
            }
        }

        .bonuses {
            @include mobile {
                padding: 50px 0px;
            }
        }
    }

    &.cert {
        .services {
            padding: 100px 0px;
            background: #FFFAF2;

            @include mobile {
                padding: 70px 0px;
            }

            &-wrapper {
                padding: 40px 0px 0px;
            }
        }
    }
}