@mixin font($weight) {
    font-family: Inter, sans-serif;
    font-weight: $weight;
}

@mixin fontTitle($weight, $style) {
    font-family: CormorantInfant, serif;
    font-weight: $weight;
    font-style: $style;
}

@mixin tablet {
    @media(max-width: 1249px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin starTop {
    &::after {
        content: '';
        width: 25px;
        height: 25px;
        background: url('../img/icons/gold-star.svg') no-repeat center;
        background-size: contain;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}