// body,
// html {
//     overflow-x: hidden;
// }

// main {
//     overflow-x: hidden;
// }

body {
    font-size: 16px;
    @include font(400);
}

.container {
    max-width: 1340px;
    padding: 0px 20px;
    margin: 0px auto;

    @include tablet {
        max-width: 100%;
    }

    @include mobile {
        padding: 0px 15px;
    }
}

span.star {
    display: inline-block;
    width: 25px;
    height: 25px;
    mask: url('../img/icons/gold-star.svg') no-repeat center;
    mask-size: contain;
    background: var(--color-gold);
    margin-left: 10px;
    position: relative;
    bottom: 2px;
}