h1 {
    @include fontTitle(600, normal);
    font-size: 54px;
    line-height: 1.3;

    @include mobile {
        font-size: 40px;
        line-height: 1.35;
        word-break: break-word;
    }
}

h2 {
    @include fontTitle(500, normal);
    font-size: 54px;
    line-height: 1.18;
    text-align: center;

    @include mobile {
        font-size: 36px;
    }
}

h3 {
    @include fontTitle(500, normal);
    font-size: 36px;
    line-height: 1.7;

    @include mobile {
        font-size: 30px;
    }
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    span.italic {
        font-style: italic;
    }
    span.gold {
        color: var(--color-border);
    }
    span.bold {
        font-weight: 700;
    }
}