:root {
    --color-text: #26272B;
    --color-gold: #C79403;
    --color-white: #FFFFFF;
    --color-border: #CBAE86;
    --color-darkgold: #836C4A;

    --gradient-button: linear-gradient(180deg, #836C4A 0%, #B79A72 100%);

    --radius-button: 2px;
}